.wrapper {
    display: flex;
}

.singIn-left {
    flex: 1;
    text-align: center;
    background-color: #f6f6f6;
}

.singIn-left img {
    width: 169.52px;
    height: 135.96px;
    margin: 60px 0;
}

.inner {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

label {
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 27px;
    color: #37474f;
    cursor: pointer;
}

input {
    padding: 10px 16px 10px 12px;
    width: 400px;
    height: 44px;
    border: 1.5px solid #d4d4d7;
    cursor: pointer;
    border-radius: 8px;
}

.singIn-right {
    width: 848px;
    background-color: var(--white);
}

.singIn-right {
    padding: 70px;
}

.singIn-right img {
    position: relative;
    width: 650px;
    height: 600px;
}

#inner-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 33px;
    color: #282739;
    margin: 0;
}
