.wrapper {
    width: 200px;
    height: 810px;
    left: 0px;
    top: 0px;

    /* White */

    background: var(--white);
    /* Dropdown */

    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 16px 0px 0px 16px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.menu {
    margin-top: 50px;
    text-align: center;
}

.menu-children {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    width: 101%;

    &:hover {
        cursor: pointer;
        background-color: var(--hover-color);
        color: var(--menu-color);
    }

    &:hover .system-children {
        display: block;
        color: #000;
    }
}

.system-children {
    z-index: 999;
    display: none;
    position: absolute;
    margin-top: 97%;
    margin-left: 100px;
    text-align: left;
    width: 200px;
    height: 144px;
    border-radius: 12px;
    filter: drop-shadow(3px 3px 4px rgba(70, 64, 67, 0.1));
    border-radius: 12px;
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 54%;
        height: 144px;
        top: -2px;
        left: -100px;
        // background-color: red;
    }
}

.system-children__link {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 200px;
    height: 48px;
    background: #ffffff;
    border: 1px solid var(--hover-color);

    &:hover {
        background-color: var(--hover-color);
        color: var(--menu-color);
    }
}

.menu-icon__more,
.menu-icon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 20px;
}

.menu-icon__more {
    margin-left: 3px;
}

.menu-btn {
    display: flex;
    justify-content: center;
    color: var(--menu-color);
}

.btn-icon {
    margin-right: 10px;
}
