.iconPlus {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: var(--btn-color);
}

.navigateProduct {
    color: var(--btn-color);
    line-height: 20px;
    margin: 0;
    margin-left: 8px;
    width: 100%;
    font-weight: 500;
}
