.wrapper {
    padding: 20px 0 20px 40px;
}

.products-header h3 {
    color: var(--menu-color);
    font-size: 2.4rem;
    margin-bottom: 15px;
}

.products-header__option {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.products-header__option-selected {
    display: flex;
}

// Form

.addProduct-main-title {
    width: 300px;
    height: 30px;
    font-weight: 700;
    font-size: 2rem;
    color: var(--menu-color);
    padding-left: 10px;
}

.addProduct-main {
    position: relative;
    justify-content: space-around;
    width: 1112px;
    top: 20px;
    background: var(--white);
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
    border-radius: 12px;
    padding: 40px 20px;
}

.addProduct-form {
    display: flex;
}

.addProduct-form-children {
    width: 50%;
    padding: 0 10px;
}

.form-label {
    font-weight: 500;
    font-size: 1.6rem;
    color: #282739;

    &:hover {
        cursor: default;
    }
}

.form-label span {
    color: red;
}

.form-input {
    padding: 12px 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    border: 1.5px solid #d4d4d7;
    border-radius: 6px;
    margin: 10px 0 15px 0;

    &:hover {
        cursor: text;
    }
}

.form-label:last-child,
.addService {
    padding: 0 10px;
}

.form-label:last-child {
    font-weight: 300;
    & span {
        font-weight: 500;
        margin-right: 5px;
    }
}

// footer

.products-footer {
    text-align: center;
    width: 1112px;
    padding: 40px 0 20px 0;
}
