#detail-password,
#detail-service,
#detail-title {
    padding-left: 0;
    font-weight: 500;
}

.btn {
    position: relative;
    top: -240px;
    left: 185px;
}

.detail-value {
    color: black !important;
    margin-left: 10px;
    font-weight: 400 !important;
}
