.wrapper {
    display: flex;
}

.singIn-left {
    flex: 1;
    text-align: center;
    background-color: #f6f6f6;
}

.singIn-left img {
    width: 169.52px;
    height: 135.96px;
    margin: 60px 0;
}

.inner {
    &-detail {
        display: inline-block;
        text-align: center;
        width: 100%;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 27px;
        color: #37474f;
        cursor: pointer;
    }
}

#inner__title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 33px;
    color: #282739;
    margin: 0;
}

#inputName {
    display: inline-block;
    text-align: center;
    padding: 10px 16px 10px 12px;
    width: 400px;
    height: 44px;
    border: 1.5px solid #d4d4d7;
    cursor: pointer;
    border-radius: 8px;
    margin: 15px 0;
}

.singIn-right {
    width: 848px;
    background-color: var(--white);
}

.singIn-right {
    padding: 70px;
}

.singIn-right img {
    position: relative;
    width: 650px;
    height: 600px;
}

.btn-cancel {
    color: var(--menu-color);
    background: var(--white);
    border: 1px solid var(--menu-color);
    margin-right: 25px;

    &:hover {
        color: var(--white);
    }
}
