.wrapper {
    padding: 20px 0 20px 40px;
}

.products-header h3 {
    color: var(--menu-color);
    font-size: 2.4rem;
    margin-bottom: 15px;
}

.products-header__option {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.products-header__option-selected {
    display: flex;
}

// Navigate

.iconPlus {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    margin-bottom: 5px;
    color: var(--btn-color);
}

.navigateProduct {
    color: var(--btn-color);
    line-height: 20px;
    margin: 0;
    width: 100%;
    font-weight: 500;
}

.table-results-detail {
    width: 80px;
    text-decoration: underline;
    color: #4277ff;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    margin: 0;

    &:hover {
        cursor: pointer;
    }
}

.table-results-service {
    display: grid;
    padding-top: 8px;
    margin-left: -10px;
}

.service-title {
    margin-left: 22px;
}

#updateNumber,
#update {
    width: 8%;
}
